alias aliases="vim $HOME/$PROJECTS_DIR/utils/.aliases && source $HOME/$PROJECTS_DIR/utils/.aliases"

alias npm='pnpm'

alias cat='bat -P'

alias ls='eza --icons -F --colour-scale --no-time --no-user --group-directories-first --header -l'
alias lsa='eza --icons -F --colour-scale --no-time --no-user --group-directories-first --header -la'

alias update='sudo apt update && sudo apt upgrade -y && brew update && brew upgrade'

# fh - repeat history
h() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed -E 's/ *[0-9]*\*? *//' | sed -E 's/\\/\\\\/g')
}
