alias aliases="vim $HOME/$PROJECTS_DIR/utils/.aliases && source $HOME/$PROJECTS_DIR/utils/.aliases"

alias npm='pnpm'

alias cat='bat -P'

alias ls='exa --icons -F --colour-scale --no-time --no-user --group-directories-first --header -l'
alias lsa='exa --icons -F --colour-scale --no-time --no-user --group-directories-first --header -la'

alias update='sudo apt update && sudo apt upgrade -y && brew update && brew upgrade'
